@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="m-3">
    <ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item mx-3">
                <a class="nav-link" style="color:white;text-decoration: none;display: block;overflow: clip;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
            <li class="nav-item mx-3">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link" style="color:white;text-decoration: none;margin-bottom:30px">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
                <a class="nav-link" style="color:white;text-decoration: none;"  asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" style="color:white;text-decoration: none;"  asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    </ul>
</div>
