@model JV_PuntoVenta.Models.Venta

@{
    ViewData["Title"] = "Delete";
}
<div class="m-3">
    <h1>ELIMINAR VENTA</h1>

    <h3>¿Seguro que desea eliminar esta venta de los registros?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TransactionDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TransactionDateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Total)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Volver</a>
        </form>
    </div>
</div>

