@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center my-5">
    <h1 class="display-4">Bienvenido</h1>
    <p>Si eres nuevo, consulta nuestro <a href="">manual de usuario.</a>.</p>
</div>
