@{
    ViewData["Title"] = "Política de Privacidad";
}
<div class="m-3">
    <h1 class="my-4">@ViewData["Title"]</h1>

    <p>Proyecto realizado por Jeremías Vaillard (DNI 44234857) para la materia Programación IV del Instituto Superior Pascal.</p>
    
</div>