@model JV_PuntoVenta.Models.Ingreso

@{
    ViewData["Title"] = "Create";
    var productosPrecios = ViewBag.ProductosPrecios as Dictionary<int, decimal>;
}

<div class="m-3">
    <h1>NUEVO INGRESO</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-action="Create">
                <div class="row" style="height:70px;width:700px;">
                    <div class="form-group col col-6">
                        <label asp-for="TransactionDateTime" class="control-label">Fecha y hora</label>
                        <input asp-for="TransactionDateTime" id="TransactionDateTime" class="form-control" />
                        <span asp-validation-for="TransactionDateTime" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <h4>Productos</h4>
                <div id="productosContainer" class="border p-2" style="height:250px;width:700px; overflow-y:scroll; overflow-x:hidden;">
                    <div class="form-group p-1 row producto-item">
                        <div class="col col-4">
                            <label class="control-label">Producto</label>
                            <select name="ProductoId[0]" class="form-control producto-select" asp-items="ViewBag.Productos"></select>
                        </div>
                        <div class="col col-2">
                            <label class="control-label">Cantidad</label>
                            <input name="Cantidad[0]" type="number" class="form-control cantidad-input" />
                        </div>
                     
                        <div class="col col-2 d-flex align-items-end">
                            <button type="button" class="btn btn-danger eliminar-producto">Eliminar</button>
                        </div>
                    </div>
                </div>

                <div class="form-group my-3">
                    <button type="button" id="addProducto" class="btn btn-secondary">Agregar Producto</button>
                </div>
                <hr />

                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver</a>
    </div>
</div>

<template id="plantillaProducto">
    <div class="form-group p-1 row producto-item">
        <div class="col col-4">
            <label class="control-label">Producto</label>
            <select class="form-control producto-select" asp-items="ViewBag.Productos"></select>
        </div>
        <div class="col col-2">
            <label class="control-label">Cantidad</label>
            <input class="form-control cantidad-input" type="number" />
        </div>
       
        <div class="col col-2 d-flex align-items-end">
            <button type="button" class="btn btn-danger eliminar-producto">Eliminar</button>
        </div>
    </div>
</template>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById('TransactionDateTime').value = new Date().toISOString().slice(0, 16);

        var productoIndex = 1;
        var productosPrecios = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(productosPrecios));

        document.getElementById('addProducto').addEventListener('click', function () {
            nuevoProducto();
        });

        function nuevoProducto() {

            var container = document.getElementById('productosContainer');
            var plantilla = document.getElementById('plantillaProducto').content.cloneNode(true);

            var select = plantilla.querySelector('select');
            var cantidadInput = plantilla.querySelector('.cantidad-input');

            var eliminarButton = plantilla.querySelector('.eliminar-producto');

            if (select && cantidadInput) {
                select.name = 'ProductoId[' + productoIndex + ']';
                cantidadInput.name = 'Cantidad[' + productoIndex + ']';

                eliminarButton.addEventListener('click', function () {
                    plantilla.remove();

                });
            }

            container.appendChild(plantilla);
            productoIndex++;
            escucharEventos();

            container.scrollTop = container.scrollHeight;
        }

        function escucharEventos() {
            var productoSelects = document.querySelectorAll('.producto-select');
            var cantidadInputs = document.querySelectorAll('.cantidad-input');
            var eliminarButtons = document.querySelectorAll('.eliminar-producto');

            eliminarButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    button.closest('.producto-item').remove();

                });
            });
        }

      

        document.addEventListener('DOMContentLoaded', function () {
            escucharEventos();
        });

    </script>
} 