@model JV_PuntoVenta.Models.Ingreso

@{
    ViewData["Title"] = "Delete";
}

<div class="m-3">
    <h1>ELIMINAR INGRESO</h1>

    <h3>¿Seguro que desea eliminar este ingreso de los registros?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TransactionDateTime)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TransactionDateTime)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>